*.iml
.gradle
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# 환경 변수
local.properties
/local.properties
keystore.properties
/keystore.properties

# Google Services
google-services.json

# Keystore files
*.jks
*.keystore

# Kotlin files
.kotlin/


# firebase distribution
firebase-account.json

# Claude
.claude/settings.local.json
.hotswan/
